@use '../custom' as * ;
@media (max-width:1024px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 600px;
    background-repeat: no-repeat;
	background-size: 100%;
}


.burger-img{


.burger{
	    img{
        width: 490px;
        margin-left: 0px;
        
    }

	
}




.burger-content{
	img{
		width: 280px;
	}
	h1{
		font-size:5rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 60px;
	font-family: shehary-font;
	color: #3d2514;

	}
}
.form-1 {
    input{

        width: 200px;
    }
} 

.testimonials{
    max-width: 1000px;
     padding: 0 15px 50px; 
     margin: 0 auto 80px auto; 
}

.location-img{
	width: 70px;


} 


.location-contnet{
	width: 300px;
}

.location{

	margin-top: 100px;
	margin-left: 0px;
}
.email{
	margin-top: 20px;
}

.email-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.email-contnet{
	width: 200px;
}

.social{
	span{
		background-color:white;
		padding: 5px;
		border-radius: 50%;
	}
	i{
		font-size: 15px;
		color: black;
	}
	padding-top:0px;
	padding-left:200px;
}

.footer-wrap{
    width: 100%;
    height: 400px;
    background-image:url('../images/footer.png');
    background-repeat:no-repeat;
    background-size:100%;
    

}

.img-area img {
	height: 300px;
	width: 300px;
	
}
.carousel-indicators{
    position: absolute;
    right: 200px;
    bottom: 50px;
}
}

.burger-img{
	.burger{
			img{
			width: 450px;
		}
	}
	.price{
			img{
				width: 80px;
				left:100px;
				top:250px;
			}
		}
	}


	.footer-content{
		img{
			margin-top: 40px;
			width: 180px;
		}
		p{
			margin-top: 10px;
			font-size: 10px;
		}
	}
	.location-img{
		width: 50px;
	
	
		span{
			i{
				font-size: 2rem;
				color: white;
			}
		}
	}
	.location-contnet{
		width: 200px;
	}
	
	.location{
	
		margin-top: 20px;
		margin-left: 10px;
	}
	
	.email{
		margin-top: 20px;
	}
	
	.email-img{
		width: 50px;
	
	
		span{
			i{
				font-size: 2rem;
				color: white;
			}
		}
	}
	.email-contnet{
		width: 200px;
	}
	.social{
		span{
			background-color:white;
			padding: 5px;
			border-radius: 50%;
		}
		i{
			font-size: 15px;
			color: black;
		}
		padding-top:10px;
		padding-left:100px;
	}
}

@media (max-width:820px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 600px;
    background-repeat: no-repeat;
	background-size: 100%;
}

.burger-img{
.burger{
	    img{
        width: 80px;
    }
}
.price{
		img{
			width: 50px;
			left:120px;
			top:250px;
		}
	}
}
.burger-content{
	img{
		width: 220px;
	}
	h1{
		font-size:4rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 60px;
	font-family: shehary-font;
	color: #3d2514;

	}
}


.img-area img {
	height: 200px;
	width: 300px;
	
}
.footer-content{
	img{
		margin-top: 40px;
		width: 180px;
	}
	p{
		margin-top: 10px;
		font-size: 10px;
	}
}
.location-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.location-contnet{
	width: 200px;
}

.location{

	margin-top: 20px;
	margin-left: 10px;
}

.email{
	margin-top: 20px;
}

.email-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.email-contnet{
	width: 200px;
}
.social{
	span{
		background-color:white;
		padding: 5px;
		border-radius: 50%;
	}
	i{
		font-size: 15px;
		color: black;
	}
	padding-top:10px;
	padding-left:100px;
}
.nav-item{

    margin-top: 10px;
    font-weight: 600;
    margin-left: 20px;
}
.express-delivery{
    position:relative;
    left: 0px;
}

.copy-right{
	p{
		color:white;
		font-size: 15px;
		margin-top: -10px;
	}
}

.footer-wrap{
    width: 100%;
    height: 400px;
    background-image:url('../images/footer.png');
    background-repeat:no-repeat;
    background-size:100%;
    

}

.book-table{
    width:100%;
	background-image: url('../images/form-img.png');
	height: 400px;
    background-repeat: no-repeat;
	background-size: 100%;
    padding: 20px;


}

.img-area img {
	height: 220px;
	width: 220px;
	
}

.content{

	h1{
		font-size: 25px;
	}

	p{
		font-size: 10px;
	}
}

.carousel-indicators{
    position: absolute;
    right: 200px;
    bottom: 50px;
}

}
@media (max-width:912px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 600px;
    background-repeat: no-repeat;
	background-size: 100%;
}

.burger-img{
.burger{
	    img{
        width: 430px;
    }
}
  }

.burger-content{
	img{
		width: 250px;
	}
	h1{
		font-size:4rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 60px;
	font-family: shehary-font;
	color: #3d2514;

	}
}
.nav-item{

    margin-top: 10px;
    font-weight: 600;
    margin-left: 20px;
}
.express-delivery{
    position:relative;
    left: 0px;
}


.footer-content{
	img{
		margin-top: 40px;
		width: 180px;
	}
	p{
		margin-top: 10px;
		font-size: 10px;
	}
}
.location-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.location-contnet{
	width: 200px;
}

.location{

	margin-top: 20px;
	margin-left: 10px;
}

.email{
	margin-top: 20px;
}

.email-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.email-contnet{
	width: 200px;
}
.social{
	span{
		background-color:white;
		padding: 5px;
		border-radius: 50%;
	}
	i{
		font-size: 15px;
		color: black;
	}
	padding-top:10px;
	padding-left:100px;
}
.form-1 {
    input{
         margin-bottom:30px;
        width: 200px;
    }
}



}

@media (max-width:768px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 500px;
    background-repeat: no-repeat;
	background-size: 100%;
}


.burger-img{
.burger{
	    img{
        width:350px;
    }
}
.price{
		img{
			position: absolute;
			width: 80px;
			left:80px;
			top: 200px;
		}
	}
}
.burger-content{
	img{
		width: 280px;
	}
	h1{
		font-size:4rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 60px;
	font-family: shehary-font;
	color: #3d2514;

	}
}  
.card{
	width: 15rem;
}

.carousel-indicators{
    position: absolute;
    right: 100px;
    bottom: 50px;
}

.img-area img {
	padding-top:15px;
	height: 200px;
	width: 250px;
	
}

.testimonials{
    max-width: 1000px;
     padding: 0 15px 50px; 
     margin: 0 auto 80px auto; 
}

.nav-item{

    margin-top: 10px;
    font-weight: 600;
    margin-left: 20px;
}
.express-delivery{
    position:relative;
    left: 0px;
}

.footer-content{
	img{
		margin-top: 40px;
		width: 180px;
	}
	p{
		margin-top: 10px;
		font-size: 10px;
	}
}
.location-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.location-contnet{
	width: 190px;
}

.location{

	margin-top: 20px;
	margin-left: 10px;
}

.email{
	margin-top: 10px;
}

.email-img{
	width: 50px;


	span{
		i{
			font-size: 2rem;
			color: white;
		}
	}
}
.email-contnet{
	width: 100px;
}
.social{
	span{
		background-color:white;
		padding: 5px;
		border-radius: 50%;
	}
	i{
		font-size: 15px;
		color: black;
	}
	padding-top:1px;
	padding-left:100px;
}


.copy-right{
	p{
		color:white;
		font-size: 15px;
		margin-top: -10px;
	}
}

.footer-wrap{
    width: 100%;
    height: 300px;
    background-image:url('../images/footer.png');
    background-repeat:no-repeat;
    background-size:100%;
    

}



.book-table{
    width:100%;
	background-image: url('../images/form-img.png');
	height: 400px;
    background-repeat: no-repeat;
	background-size: 100%;
    padding: 20px;


}


.form-1 {
    input{
         margin-bottom:30px;
        width: 200px;
    }
}

}

@media (max-width:540px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 320px;
    background-repeat: no-repeat;
	background-size: 100%;
}

.logo{
	img{
		width: 100px;
	}
}

.burger-img{
.burger{
	    img{
        width: 300px;
      margin-left: 150px;
      margin-top: -180px;
    }
}
	.price{
		img{
			position: absolute;
			width: 50px;
			left:240px;
			top: 15px;
		}
	}
}
.burger-content{
	img{
		width: 190px;
	}
	h1{
		font-size:2rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 30px;
	font-family: shehary-font;
	color: #3d2514;

	}
}
.intro-section{
	padding-top: 30px;
} 
.nav-item{

    margin-top: 10px;
    font-weight: 600;
    margin-left: 20px;
}
.express-delivery{
    position:relative;
    left: 0px;
}

.enjoy-card{
     .card{

		margin: 0 auto;
	 }
}

.form-1{
	input{
	   width: 200px;

	   margin: 0 auto;
	   margin-bottom: 20px;

	   text-align: center;
	}

}

.book-table{
	button{
       margin-left:140px;
	}
}

.book-table{
    width:100%;
	background-image: url('../images/form-img.png');
	height: 480px;
    background-repeat: no-repeat;
	background-size: 100%;
    padding: 20px;


}


.footer-content{

	margin-top: -70px;
	img{
		width: 100px;
		margin-left:100px;
	}
	p{
		margin-top: 5px;
		font-size: 10px;
		text-align: center;
	}
}
.location-img{
	width: 30px;
     
	img{
		width: 20px;

	}
}
.location-contnet{
	width: 200px;
	font-size: 10px;
	margin-top: 5px;
}

.location{

	margin-top: 0px;
	margin-left: 50px;
}

.email{
	margin-top: 15px;
}

.email-img{
	width: 30px;
  img{
	width: 20px;
  }
}
.email-contnet{
	width: 200px;
	font-size: 10px;
	margin-top: 5px;
}
.social{
	span{
		background-color:white;
		padding: 5px;
		border-radius: 50%;
		border: 1px solid;
		border-color: black;
	}
	i{
		font-size: 20px;
		color: black;
	}
	padding-top:15px;
	padding-left:100px;
}

.copy-right{
	p{
		color: black;
	}
}

.footer-img{
	margin-top: -60px;
}

.footer-wrap{
    width: 100%;
    height: 300px;
    background-image:url('../images/footer.png');
    background-repeat:no-repeat;
    background-size:100%;
    

}

}

@media (max-width:480px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 600px;
    background-repeat: no-repeat;
	background-size: 100%;
}


    .burger-img{
.burger{
	    img{
        width: 230px;
        margin-left: 100px;
        margin-top: -160px;
    }
}
.price{
		img{
			position: absolute;
			width: 50px;
			left:170px;
			top: 10px;
			margin-top: -30px;
		}
	}
}





.burger-content{
	img{
		width: 120px;
	}
	h1{
		font-size:2rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 30px;
	font-family: shehary-font;
	color: #3d2514;

	}
}
.intro-section{
	padding-top: 30px;
}  
}
@media (max-width:450px) {


  .page-wrap{
	width: 100%;
	background-image: url('../images/intro-bg.png');
	height: 300px;
    background-repeat: no-repeat;
	background-size: 100%;
}

.burger-img{
.burger{
	    img{
        width: 230px;
        margin-left: 130px;
        margin-top: -160px;
    }
}

.price{
	img{
		width: 50px;
		left:180px;
		top:10px;
	}
}
}






.burger-content{
	img{
		width: 120px;
	}
	h1{
		font-size:2rem;
		font-family: shehary-font;
		color: #3d2514;
	}
	h6{
		font-size: 30px;
	font-family: shehary-font;
	color: #3d2514;

	}
}
.intro-section{
	padding-top: 30px;
}  
.nav-item{

    margin-top: 10px;
    font-weight: 600;
    margin-left: 20px;
}
.express-delivery{
    position:relative;
    left: 0px;
}

.book-table{
	button{
       margin-left:100px;
	}
}

.book-table{
    width:100%;
	background-image: url('../images/form-img.png');
	height: 480px;
    background-repeat: no-repeat;
	background-size: 100%;
    padding: 20px;


}


.footer-content{

	margin-top: -80px;
	img{
		width: 100px;
		margin-left:100px;
	}
	p{
		margin-top: 5px;
		font-size: 8px;
		text-align: center;
	}
}
.location-img{
	width: 10px;
     
	img{
		width: 15px;
	}
}
.location-contnet{
	width: 180px;
	font-size: 10px;
}

.location{

	margin-top: 0px;
	margin-left: 10px;
}

.email{
	margin-top: 5px;
}

.email-img{
	width: 10px;
  img{
       width: 15px;
  }
}
.email-contnet{
	width: 100px;
	font-size: 10px;
}
.social{
	span{
		background-color:white;
		padding: 5px;
		border-radius: 50%;
	}
	i{
		font-size: 15px;
		color: black;
	}
	padding-top:10px;
	padding-left:50px;
}

.copy-right{
	p{
		color: black;
		font-size: 15px;
		text-align: center;
	}
}

.footer-img{
	margin-top: -60px;
}

.footer-wrap{
    width: 100%;
    height: 300px;
    background-image:url('../images/footer.png');
    background-repeat:no-repeat;
    background-size:100%;
    

}

.nav-item{

    margin-top: 0px;
    font-weight: 600;
    margin-left: 20px;
}


}

@media (max-width:390px) {


	.page-wrap{
	  width: 100%;
	  background-image: url('../images/intro-bg.png');
	  height: 300px;
	  background-repeat: no-repeat;
	  background-size: 100%;
  }
  
  .burger-img{
  .burger{
		  img{
		  width: 230px;
		  margin-left: 130px;
		  margin-top: -160px;
	  }
  }
  
  .price{
	  img{
		  width: 50px;
		  left:180px;
		  top:10px;
	  }
  }
  }
  
  
  
  
  
  
  .burger-content{
	  img{
		  width: 120px;
	  }
	  h1{
		  font-size:2rem;
		  font-family: shehary-font;
		  color: #3d2514;
	  }
	  h6{
		  font-size: 30px;
	  font-family: shehary-font;
	  color: #3d2514;
  
	  }
  }
  .intro-section{
	  padding-top: 30px;
  }  
  .nav-item{
  
	  margin-top: 10px;
	  font-weight: 600;
	  margin-left: 20px;
  }
  .express-delivery{
	  position:relative;
	  left: 0px;
  }
  
  .book-table{
	  button{
		 margin-left:100px;
	  }
  }
  
  .book-table{
	  width:100%;
	  background-image: url('../images/form-img.png');
	  height: 480px;
	  background-repeat: no-repeat;
	  background-size: 100%;
	  padding: 20px;
  
  
  }
  
  
  .footer-content{
  
	  margin-top: -80px;
	  img{
		  width: 100px;
		  margin-left:100px;
	  }
	  p{
		  margin-top: 5px;
		  font-size: 8px;
		  text-align: center;
	  }
  }
  .location-img{
	  width: 10px;
	   
	  img{
		  width: 15px;
	  }
  }
  .location-contnet{
	  width: 180px;
	  font-size: 8px;
	  margin-left:30px;
	  margin-top: -20px;
  }
  
  .location{
  
	  margin-top: -10px;
	  margin-left: 10px;
  }
  
  .email{
	  margin-top: -5px;
  }
  
  .email-img{
	  width: 10px;
	img{
		 width: 15px;
	}
  }
  .email-contnet{
	  width: 100px;
	  font-size: 10px;
  }
  .social{
	  span{
		  background-color:white;
		  padding: 5px;
		  border-radius: 50%;
	  }
	  i{
		  font-size: 15px;
		  color: black;
	  }
	  padding-top:10px;
	  padding-left:50px;
  }
  
  .copy-right{
	  p{
		  color: black;
		  font-size: 15px;
		  text-align: center;
	  }
  }
  
  .footer-img{
	  margin-top: -60px;
  }
  
  .footer-wrap{
	  width: 100%;
	  height: 300px;
	  background-image:url('../images/footer.png');
	  background-repeat:no-repeat;
	  background-size:100%;
	  
  
  }
  
  .nav-item{
  
	  margin-top: 0px;
	  font-weight: 600;
	  margin-left: 20px;
  }
  
  
  }
  

